body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: black;
    width: 20rem;
    padding: 2rem;
    border-radius: 2rem;
}

.input>div {
    background-color: white;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.input {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 5rem;
    margin: 5% 0;
}

.output {
    background: white;
    height: 5rem;
    padding: 0rem 0.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}